.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 100%
    width: 50px
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 25%
    right: 43%
    width: 50px
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 5%
    width: 50px

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 50% !important
  @media screen and (max-width: $bp-max-md)
    width: 95% !important
.banner-principal__img 
  padding-bottom: 0 !important
.banner-principal_row .banner-principal_img
  width: 50% 
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
 

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
      padding-right: 5% !important
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important


.titulo-segundo:after 
  content: ''
  display: block
  height: 4.5px
  width: 140px
  border-left: solid 50px
  border-left-color: #FF8C80
  background-color: #e8e8e8


.bloque-texto-a.color-acento-contenido:before
  background-color: #3FC49E
  border-radius: 0px 195px 195px 0px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 
.bloque-texto-a.color-acento-contenido
  background-color:#FFEDF5
  border-radius: 0px 200px 200px 0px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px
  


.ap1
  background-color: #FAC6C0

.ap2
  background-color: #AAEDDA


//Cajas con imagen a la izquierda
.bloque-texto-g.color-primario
  background-color: #FA87B8
.bloque-texto-g__texto 
  position: relative
  @media only screen and (max-width: 767px)
    position: relative
    width: 100%
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    position: relative
    width: 100%

.bloque-texto-g.color-primario2
  background-color: #30C197

.bloque-texto-g.color-primario3
  background-color: #5AB5FF


//bloque con esquina redondeada 
.bloque-texto-g.color-primario4
  background-color: #FA87B8
  border-radius: 0px 10px 200px 0px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 
  .bloque-texto-g__texto 
    position: relative
    width: 75%
    border-radius: 150px 10px 170px 150px
    @media only screen and (max-width: 767px)
      position: relative
      width: 100%
      border-radius: 0px
    @media only screen and (min-width: 768px) and (max-width: 1023px)
      position: relative
      width: 100%
      border-radius: 0px
    
.bloque-texto-g.color-acento
  background-color: #FA6D5F
  border-radius: 0px 10px 200px 0px
  @media only screen and (max-width: 767px)
    border-radius: 0px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 0px 
  .bloque-texto-g__texto 
    position: relative
    width: 75%
    border-radius: 150px 10px 170px 150px
    @media only screen and (max-width: 767px)
      position: relative
      width: 100%
      border-radius: 0px
    @media only screen and (min-width: 768px) and (max-width: 1023px)
      position: relative
      width: 100%
      border-radius: 0px


.tarjetaf
  background: url('../assets/curso/tema1/fondo1.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 20px
  overflow: hidden
  transition: transform 0.3s ease
.slyder-a__bullets__item
  background-color: #FA6D5F
  border-color: #FA6D5F
.slyder-a__bullets__item--active
  background-color: #FFD93D !important
  border-color: #FFD93D !important
.slyder-a__btn--sigt, .slyder-a__btn--atrs //bolitas con flechas para cambiar de diap
    width: 50px
    height: 50px
    background-color: #FFD93D
  
//clases para imagen con figura xx y fuente xx
.ap3        
  background-color: #FFEDF5
  border-radius: 20px //borde redondeado
.enl
  word-wrap: break-word
  overflow-wrap: break-word
  word-break: break-word 
.titulo-sexto
    margin-bottom: 24px
    border-left: 10px solid
    padding: 5px 0 5px 8px
    border-left-color: #FF8C80 !important

//Centrar imágenes en una caja. t ajustar . a alinear al centro
.img-t
  width: auto
  height: auto
.img-a
  display: block
  margin: auto

//Caja con persona con la cabeza por fuera
.bloque-texto-a.color-acento-contenido
  background-color: #FFEDF5
.bloque-texto-a.color-acento-contenido:before
  background-color: #3FC49E
.cs  //cabeza salida
  margin-top: -15.2%
  position: absolute
.cs1  //cabeza salida
  margin-top: -12%
  position: absolute

.apw  //caja blanca
  background-color: white



.apw1  //caja blanca
  background-color: white
  width: fit-content  //se ajusta el contenido
  margin: auto // centrar el contenido

.ap4        
  background-color: #FFEDF5

.ap5        
  background-color: #AAEDDA
  border-radius: 10px //borde redondeado

.ap6 
  background-color: #FAC6C0
  border-radius: 10px //borde redondeado

.ap7
  background-color: #AAEDDA

.ap8        
  background-color: #FFEDF5
  border-radius: 20px //borde redondeado y cambia de color al pasar encima
  &:hover
    background-color: #AAEDDA


.ap13
  background-color: #D4F6EC
  border-radius: 14px

.ap14
  background-color: #FFEDF5
  border-radius: 14px


.ap15
  background-color: #F3F9FF


.ap16
  background-color: #97E0CB
  border-radius: 14px //borde redondeado

.ap17      
  background-color: #D4F6EC
  border-radius: 14px //borde redondeado

.fa-circle-chevron-right
    content: var(--fa)
    color: #0B8864

.fa-circle-chevron-right.r1
    content: var(--fa)
    color: #C65634

.fa-circle-chevron-right.r2
    content: var(--fa)
    color: #D84483

.acordion__accion__btn--b
  background-color: #FFD93D
  transition: all 0.3s ease-out
  border: #FFD93D
.acordion__activo
  background-color: #AAEDDA!important
  transition: all 0.3s ease-out
.tarjeta--grey
    border-radius: 20px
    background-color: #FFEDF5
.acordion.press .acordion__activo .acordion__accion__btn--b
  background-color: #C65634
  color: white


.tarjeta.color-primario
  @media (max-width: 767px)
    border-radius: 20px
.tarjeta.color-secundario
  background-color: #0B8864
  @media (max-width: 767px)
    border-radius: 20px


  //Titulo palito de color y sombreado
.subti
  margin-bottom: 0px
  border-left: 8px solid  #C65634 !important
  padding: 34px 0px 15px 0px
  border-radius: 20px
  @media only screen and (max-width: 767px)
    display: none
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    display: none
.ssu
  background-color: #FAC6C0
  border-radius: 0px 10px 10px 0px
  width: fit-content
  @media only screen and (max-width: 767px)
    border-radius: 15px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 15px


  //cajon con letra y color en alguna parte
.cajon-b:before 
    content: ''
    display: block
    position: absolute
    opacity: .35
    top: -9px
    left: 0
    right: 67%
    bottom: -6%
.cajon-b.color-primario:before 
    background-color: #FAC6C0

.cajon-b.color-primario.te5:before 
    background-color: #AAEDDA

.fondo1
  background: url('../assets/curso/tema2/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center
  

.p-5.fi
  padding: 2.3rem !important


  //Tarjetas desplegables con boton
.cont_5_1, .cont_5_1 *
  position: relative
.cont_5_1:before
  content: ''
  position: absolute
  width: 125%
  height: 70%
  top: 15%
  bottom: 15%
  left: -15%
  background-size: 100% 100%
.crd_hover_txt
  position: relative
  padding: 0 !important
  overflow: hidden !important
  border-radius: 0px
.crd_hover_txt .crd_hover_txt--body
  position: absolute
  padding: 1.5rem
  width: 100%
  bottom: 0
  transition: all .5s ease-in-out
  transform: translateY(calc(100% - 3.85rem))
.crd_hover_txt:hover .crd_hover_txt--body
  transition: all .5s ease-in-out
  transform: translateY(0)
  background-color: #AAEDDA!important
  .rot
    transform: rotate(180deg)
.crd_hover_txt:hover .crd_hover_txt--body *
  color: black !important
.colt
  background-color: #AAEDDA
.mtop
  margin-top: -18px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    margin-top: -25px
@media (max-width: 767px)
  .txp
    font-size: 0.75em !important
@media (min-width: 768px) and (max-width: 1024px)
  .txp
    font-size: 0.85em



.tabs-a__tab:last-child 
  margin-bottom: 0 !important
  background-color: #FFD93D
  color: black
.color-a
  background-color: #AAEDDA


.fas.fa-star
  color: #FF8C80


.fas.fa-leaf:before 
  content: url('../assets/curso/tema4/ico.png')
 


.sob1
  margin-left: -15%
  margin-bottom: -24px
  z-index: 2
.crd--avatarHorizontal
  position: relative
  padding-right: 9rem
  & > *
    position: relative
  p
    margin-bottom: 0
  &::before
    position: absolute
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 50px)
    height: 100%
    background-color: #AAEDDA
  @media (max-width: 1000px)
    padding-right: 2rem
.crd--first, .crd--last
  &::before
    background-color: #FFEDF5 !important
.crd--first
  &::before
    border-top-left-radius: 30px
.crd--last
  &::before
    border-bottom-left-radius: 30px

.br2
  border-bottom: 8px solid #FA6D5F
  width: 50px

.fondot4
  background: url('../assets/curso/tema4/fondot4.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover
  margin-inline: -3rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem
    background-size:  100% 100%
.tarjeta--grisr
    background-color: white
.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right
    background-color: #FFD93D
.pasos-b__header__item--before .pasos-b__header__item__dot 
    border-color: #FF8C80
    background-color: #FF8C80
.pasos-b__header__item--before .pasos-b__header__item__line-container:before, .pasos-b__header__item--before .pasos-b__header__item__line-container:after 
    background-color: #FF8C80
.pasos-b__header__item--active .pasos-b__header__item__line-container:before 
    background-color: #FF8C80


.tabla-a thead
    border-top: 6px solid #FF8C80
    color: black
    background-color: #FFEDF5
.tabla-a th
    border-color: #FFEDF5
.tab1
  table
    table-layout: auto
    width: 100%
    th:nth-child(1)
      width: 18%
    th:nth-child(2)
      width: 37%
    th:nth-child(3)
      width: 45%
 
.tabla-a.tab2 table
  min-width: 300px !important




.tab3
  table
    table-layout: auto
    width: 100%
    th:nth-child(1)
      width: 18%
    th:nth-child(2)
      width: 15%
    th:nth-child(3)
      width: 30%
    th:nth-child(4)
      width: 37%
 
.tab4
  table
    table-layout: auto
    width: 100%
    th:nth-child(1)
      width: 17%
    th:nth-child(2)
      width: 13%
    th:nth-child(3)
      width: 30%
    th:nth-child(4)
      width: 40%
 
.left
  text-align: left
 
.tab5
  table
    table-layout: auto
    width: 100%
    th:nth-child(1)
      width: 19%
    th:nth-child(2)
      width: 27%
    th:nth-child(3)
      width: 27%
    th:nth-child(4)
      width: 27%
   

 
.ap10
  background: url('../assets/curso/tema3/ap10.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
 
 
.tarjeta--azull
  background-color: #F3F9FF
  border-radius: 20px
.tarjeta.color-acento-botones
    background-color: #F3F9FF
.ap12
  background-color: #AAEDDA
  border-radius: 10px
.ap11
  background-color: #AAEDDA
  border-radius: 10px
 

.fa-chevron-right 
  content: url('../assets/curso/tema3/der.png')
.fa-chevron-left 
  content: url('../assets/curso/tema3/izq.png')

@media (max-width: 768px) 
    .slyder-a__bullets__item 
        width: 12px
        height: 12px
        margin: 0px 1px
@media (max-width: 768px)  
  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    width: 45px
    height: 45px


.fondo5
  background: url('../assets/curso/tema5/fondo5.png')
  background-size: 100% 90%
  background-repeat: no-repeat
  background-position: cover
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem